{{>header}}

<section class="page-section" id=services">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">

                <h1 class="text-white-75">프로필 페이지입니다.</h1>

            </div>
        </div>
    </div>
</section>
{{>footer}}