{{>header}}


<!--Services-->
<section class="page-section" id=services">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="text-white-75 mt-0">응급상황을 입력해주세요</h2>
                <hr class="divider" />
                <p class="text-white-75 mb-5">본 서비스는 실제로 동작하는 응급구조 서비스입니다.<br>반드시 실제상황인 경우에만 입력해주세요.</p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">


                <form id="contactForm" action="recommend_hospital" enctype="application/x-www-form-urlencoded">

                    <div class="form-group mb-3">
                        <label for="request">응급내용:</label>
                        <input class="form-control" id="name" type="text" name="request" value="교통사고가 났어요 머리에 피가 많이나고 있습니다.">
                    </div>

                    <div class="form-group mb-3">
                        <label for="latitude">위도:</label>
                        <input class="form-control" id="phone" type="text" name="latitude" value="37.538435245262626">
                    </div>

                    <div class="form-group mb-3">
                        <label for="longitude">경도:</label>
                        <input class="form-control" id="email" type="text" name="longitude" value="126.98982802695484">
                    </div>

                    <div class="d-grid">
                        <input class = "btn btn-primary btn-xl" id="submitButton" type="submit" value="Submit">
                    </div>



                </form>
            </div>
        </div>
    </div>
</section>

{{>footer}}